<div class="hero-banner-full {{ section.settings.banner_class }}">
    <div class="hero-banner-slider"> 
        {% for block in section.blocks %}
            <div class="carousel-cell">
                <div class="hero-slide">
                    <a href="{{ block.settings.button_link}}" class="no-hover">
                        {% if block.settings.show_mobile %}
                            {% if block.settings.mobile_image %}
                                <img src="{{ block.settings.mobile_image | img_url: 'original' }}" class="hero-image-mobile" loading="lazy" alt="{{ block.settings.title }}" width="100" height="100">
                            {% endif %}
                        {% endif %}
                        {% if block.settings.image %}
                            <img src="{{ block.settings.image | img_url: 'original' }}" class="hero-image-desktop" loading="lazy" alt="{{ block.settings.title }}" width="100" height="100">
                        {% endif %}
                    </a>
                    <div class="slider-center-content text-box-left">
                        {% if block.settings.title %}
                            <p class="h1 extrabold title-homepage">{{ block.settings.title }}</p>
                        {% endif %}
                        {% if block.settings.description %}
                            <p class="text-white big title-homepage">{{ block.settings.description }}</p>
                        {% endif %}
                        {% if block.settings.button_label %}
                            <a href="{{ block.settings.button_link}}" class="button hollow wide">{{ block.settings.button_label}}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

 
<script>
  
// $(document).ready(function(){
    jQuery('.hero-banner-slider').slick({
        dots: true,
        adaptiveHeight: true,
        slidesToScroll: 1,
        autoplay: false,
        autoplaySpeed: 2000,
        arrows: false,
        dots: true,
        // prevArrow: '<button type="button" class="slick-prev img-slider-btn"><img src="https://cdn.shopify.com/s/files/1/0665/3850/4350/files/arrow-right-red.png?v=1726723450" style="transform: rotate(180deg);"/></button>',
        // nextArrow: '<button type="button" class="slick-next img-slider-btn"><img src="https://cdn.shopify.com/s/files/1/0665/3850/4350/files/arrow-right-red.png?v=1726723450" /></button>'

    });
// });
</script> 

{% schema %}
{
  "name": "Image Slider",
  "tag": "section",
  "class": "image-slider",
   "settings": [
    {
      "type": "text",
      "id": "banner_class",
      "label": "Custom Class",
    }
  ],
  "blocks": [
    {
      "type": "slider_block",
      "name": "Image Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "checkbox",
          "id": "show_mobile",
          "label": "Mobile Diffrent Image",
          "default": false
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image Slider",
      "blocks": [
        {
          "type": "slider_block",
          "settings": {
            "title": "Sample Title",
            "description": "Sample description for this media block.",
            "button_label": "Learn More",
            "button_link": "https://your-link.com"
          }
        }
      ]
    }
  ]
}
{% endschema %}
